@{
    ViewBag.Title = "Home Page";
}
@model DarkSky_dotnet.Models.Weather

<div class="row">
    <div>
        <h2>Current Tempature for current location</h2>
        <p>
            Pressing the button below will retrieve the tempature for the browsers current location. (Does not work with Safari)
        </p>
        <button class="btn btn-default" id="calcButton">Calculate Tempature</button>
    </div>
</div>