
/*For the whole container (card)*/
.weatherCard {
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	width:500px;
	margin:auto
}

/*This is for the location name*/
.location {
	font-weight: bold;
	font-size: 1.2em;
}

.temperature {
	float: left;
	margin-top: -3px;
	font-size: 64px;
}

.degree {
	float: left;
	font-size: 16px;
	margin-top: 6px
}

.extraData {
	font-family: "arial";
	color: darkgrey;
	float: right;
	padding-left: 5px;
	line-height: 22px;
	padding-top: 2px;
	min-width: 30%
}

/*This is for the day just below the location name */
.day {
	font-size:0.9em;
}
/*This is for the weather forecast such as Cloudy, Rainy, etc */
.forcastType {
	font-size: 1.0em;
}
/*This is for the weather status icon such as Cloudy.png, Rainy.png, etc */
.forecastIcon {
	float: left;
	height: 64px;
	width: 64px;
}
