.error-panel {
}

#weather_forecast_temp {
	font-family: "arial";
	color: darkgrey;
	float: left;
}

#precipitation_winds {
	font-family: "arial";
	color: darkgrey;
}
.weatherCard {
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	width:500px;
	margin:auto
}

/*This is for the location name*/
.weather_location_name {
	font-weight: bold;
	font-size: 1.2em;
}
/*This is for the day just below the location name */
.day {
	font-size:0.9em;
}
/*This is for the weather forecast such as Cloudy, Rainy, etc */
.weather_forecast {
	font-size: 1.0em;
}
/*This is for the weather status icon such as Cloudy.png, Rainy.png, etc */
.weather_status_icon {
	float: left;
	height: 64px;
	width: 64px;
}
